.progress{
  height: 1em; /*Altura de la barra de progreso*/
  position: fixed; /*La barra permanece fija*/
  top: 0; /*Se coloca en la parte superior de la ventana*/
  left: 0;/*Se coloca en la parte izquierda de la ventana*/
  width: 100%; /*Ocupa toda la anchura*/
  transform-origin: 0 50%; /* El punto de transformación es en el extremo izquierdo (0) y en el centro vertical (50%) */
  background-color: green;
  animation-timeline: scroll(root);/* Define una línea de tiempo de animación vinculada al desplazamiento de la raíz (página completa) */
  animation-name: scaleProgress;/* Nombre de la animación definida más abajo */
  animation-duration: auto;  /* Duración automática, la animación dura el tiempo que tarda en desplazarse por la página */
  animation-timing-function: linear; /* Función de temporización lineal para un progreso constante */
}

@keyframes scaleProgress{
  0%{
    transform: scaleX(0);
  }
  100%{
    transform: scaleX(1);
  }
}